<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640928929230-h22qoj0gfdsnc6b4qoal42qi1dhivmcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640928929230-h22qoj0gfdsnc6b4qoal42qi1dhivmcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAxgAlZUP7nDxLximd5YY0Yq8YZqRdjnXU</string>
	<key>GCM_SENDER_ID</key>
	<string>640928929230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instegramClone</string>
	<key>PROJECT_ID</key>
	<string>flutterinstegramclone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterinstegramclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640928929230:ios:53f0a101de4f1e5edac79f</string>
</dict>
</plist>